#lecturer-page-container{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: grey;
    grid-template-columns: 1fr 6fr;
    padding-right: 2%;

    #navbar-lecturer{
        grid-column: 1/2;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .content-lecturer{
        grid-column: 2/3;
        padding-left: 10px;
        //justify-self: center;
        //align-self: center;
    }

}