
.image{
    margin-top: 35px;
    margin-bottom: 50px;

}
.content{
    background-color: white; 

}


#sign-in-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: grey;

    .grid-square{
        /* margin-left: 33%;
        margin-right: auto; */
    }

}