.sign-in{
    width: 1000px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color: white;

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: center;
    }

    .login-text{
        align-self: center;
        font-size: 2em;
    }
}