.instance-control-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    
    .form-column{
        display: flex;
        flex-direction: column;
        
        width: 30%;

        .custom-button{
            margin: auto;
            background-color: #004a80;
            color: #ffffff;
            width: 40%
        }

        
    }

    input{
        margin-bottom: 5px;
    }

    label{
        margin-bottom: 5px;;
    }
    select{
        margin-bottom: 5px;
    }
    select option:disabled{
        background-color: lightgrey;
    }

}
