
.schedule-row-subject{
    margin-bottom: 10px;
}

.schedule-grid-holder{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    background-color: #ffffff;
    margin-top: 5px; 
    border-right: solid 1px black;

    .schedule-grid-row{
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        padding: 0px;
        border: none;
        border-bottom: solid 1px black;

        .schedule-grid-subject-inner{
            border: solid 1px black;
            border-right: none;
            border-bottom: none;   
        }

        .has-class{
            box-shadow: inset 2px 2px rgba(255, 255, 255, .4), inset 0px -2px 2px rgba(0, 0, 0, .4);
        }

    }

    .color{
        background-color: #2e08d4; 
    }
}

