
.modify-account-container{

    h1{
        text-align: center;
    }

    select{
        margin-bottom: 5px;
    }

    input{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .button-wrapper{
        text-align: center;
        .custom-button{
            margin-top: 20px;
            background-color: #004a80;
            color: #ffffff;
            width: 20%
        }
    }

    #modify-account-dropdown{
        font-size: 1.2em;
    }

    #account-type-grid-holder{
        //position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        margin-top: 5px;
    
        .grid-row{
            display: flex;
            flex-direction: column;
            height: 30px;
            text-align: center;
            font-size: 18px;;
            border: 1px solid;
            border-bottom:none;
            border-right: none;
    
            .grid-subject-inner{
                height: 10px;

                border-bottom: 1px solid;
    
            }
        }
        .grid-row:nth-last-child(){
            border-right: 1px solid;
        }
    
    }
    
    #subject-list{
        display: grid;
        grid-template-columns: 1fr 1fr; //repeat(12, 1fr) ;
        grid-column-gap: 5px;
        width: 100%;
        margin-top: 5px;

        .subject-name{
            margin-bottom: 5px;
            padding: 5px;
            border-bottom: solid 1px black;

            [type=checkbox]{
                float: right;
                margin-right: 15%;
            }
        }
        .subject-name:hover{
            background: #e9ecef;
        }
    }
    
    
    
    .grid-holder:last-child{
        border-right: 1px solid;
    }

}
