/* .sign-up{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 380px;

    .title{
        //margin: 10px 0;
    }

    .form-input{
        margin: 0 0 0px 0;
    }
} */